@using CrudPerson.BusinessLibrary.BusinessModel;
@using CrudPerson.WebUI.Controllers;
@model Person

@{
    const string PAGE_TITLE = "Delete";
    ViewData["Title"] = PAGE_TITLE;
}

<h1>@PAGE_TITLE</h1>

<h3>Are you sure you want to delete this?</h3>
@Html.DisplayForModel(nameof(Person))
<div>
    <form asp-action="@nameof(PersonController.Delete)">
        <input type="hidden" asp-for="Identifier" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="@nameof(PersonController.Index)">Back to List</a>
    </form>
</div>
