@using CrudPerson.BusinessLibrary.BusinessModel;
@using CrudPerson.WebUI.Controllers;
@model Person

@{
    const string PAGE_TITLE = "Edit";
    ViewData["Title"] = PAGE_TITLE;
}

<h1>@PAGE_TITLE</h1>

<h4>Person</h4>
<hr />
@Html.EditorForModel(nameof(Person), new { SubmitAction = nameof(PersonController.Edit), SubmitText = "Edit" })

<div>
    <a asp-action="@nameof(PersonController.Index)">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
